body {
    background-color: aliceblue;
}
.anketa {
    width: 50%;
    border: 3px black solid;
    background-color: white;
    padding: 20px;
    margin: auto;
    padding-bottom: 5%;
}
p {
    margin-left: 8%;
}
.input {
    width: 80%;
    border: 1px black solid;
    background-color: aliceblue;
    margin: auto;
    padding: 2%;
}
